@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "index.css";

html{
  --color-primary: #6D8B74;
  --color-secondary: #e1dfdd;
  --color-dark-primary: #1d1d1d;
  --color-dark-secondary: #242424;
  --color-dark-inherit: rgba(23, 23, 23, 0.1);
}


*{
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 900;

}
html{
  background-color: var(--color-secondary);
  transition: all 1s ease-in-out;
}

*::selection{
background-color: var(--color-primary);
}

@media (max-width: 1207px) {
  *{
    overflow-x: hidden;
  }
  .hidden-mobile {
    display: none;
  }
  .firm{
    width: 90% !important;
  }

  .job{
    width: 90% !important;
  }

  .item{
    margin: 10px !important;
  }

  .iFrame{
    margin-top: 20% !important;
  }

  .professionName{
    font-size: 12vw !important;
  }

  .backgroundTextHome{
    rotate: 0deg !important;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1207px) {
  .hidden-desktop {
    display: none;
  }
}
