@font-face {
  font-family: 'SF-Pro-Display';
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}



:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF-Pro-Display', Lato;
  font-weight: 500;
}

body{
  padding: 0;
  margin: 0;
}
