@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/fonts/SF-Pro-Display-Medium.otf') format("opentype");
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SF-Pro-Display', Lato, sans-serif;
  font-weight: 500;
  background-color: #DCDBD9;
  overflow-x: hidden;
}

::selection {
    color: #DCDBD9;
    background-color: #000000;
}

img{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body{
  padding: 0;
  margin: 0;
}
