.lander{
  height: 100vh;
  width: 100vw;
  background-color: #DCDBD9;
}

h1{
  margin: 0;
}

h6{
  margin: 0;
  font-size: 2vw;
  font-weight: 100;
}

.jobtitle{
  width: max-content;
  font-size: 3vw;
  margin: 4vw 3vw 3vw 12vw;
}

.name{
  width: max-content;
  font-size: 3vw;
  margin: 2vw 2vw 2vw 4vw;
}

.name h1{
  text-align: right;
}


.landerImg{
  width: 15vw;
  margin: 5vw 2vw 1vw 7vw;
}

.desktophidden{
  display: none;
  margin-left: 40vw;
}

@media screen and (max-width: 600px) {

  .desktophidden{
    display: block;
  }

  .mobilehidden{
    display: none;
  }

  .jobtitle{
    font-size: 7vw;
  }
  .name{
    font-size: 7vw;
  } 
  .landerImg{
    width: 92vw;
    margin: 4vw;
  }
  h6{
    font-size: 5vw;
  }
}
